// src/styles/_colors.scss
$color-white: #ffffff;
$color-black: #333333;
$color-primary: #494949;
$color-dark-gray: #414141;
$color-light-gray: #eaeaea;
$color-overlay: rgba(0, 0, 0, 0.6);
$color-hover: #00aaff;
$color-link: #38393a;
$color-link-secondary: #ff5722;
$color-link-primary: #007bff;
$color-border: #cccccc;
$color-highlight: #ff6600;
$color-primary-hover: #888a88;
$color-process-bg: #fcfcea;
$color-light-gray-bg: #f8f9fa;
$background-color: white;
$text-color: #333;

$color-light-gray-bg: #f8f9fa; //  Testimonials 和 Portfolio 的背景色
$color-rating-star: #ffd700; //  星星評價的顏色
$shadow-color: rgba(0, 0, 0, 0.3);
$portfolio-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
$menu-gradient: linear-gradient(135deg, #1a1a1a, #4d4d4d);