// src/styles/_mixins.scss
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "無法找到斷點：#{$breakpoint}，請確認變數名稱是否正確";
  }
}
// 居中佈局
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin absolute-center {
  position: absolute;
  justify-content: center;
  align-items: center;
}
@mixin popup {
  position: fixed;
  top: 50%; /* 使其位於螢幕中央 */
  left: 50%; /* 使其位於螢幕中央 */
  transform: translate(-50%, -50%); /* 確保彈窗在螢幕中央*/
  background-color: rgba(0, 0, 0, 0.6); /* 透明黑色 */
  color: white;
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  z-index: 1000;
  transition: opacity 0.5s ease;
}
  // 陰影效果
@mixin box-shadow($x: 0px, $y: 4px, $blur: 6px, $color: rgba(0, 0, 0, 0.1)) {
    box-shadow: $x $y $blur $color;
}
@mixin transition($property, $duration: 0.3s ease) {
  transition: $property $duration;
}

// Keyframes for fade-in animation
@keyframes fadeIn {
  0% {
      background-color: rgba(0, 0, 0, 1);
  }
  100% {
      background-color: rgba(0, 0, 0, 0);
  }
}
@mixin fade-in($duration: 3s) {
  animation: fadeIn $duration forwards;
}
//卡片懸停提升效果
@mixin hover-lift($distance: -5px) {
  transition: transform 0.3s ease;
  &:hover {
    transform: translateY($distance);
  }
}

// 背景過渡效果
@mixin bg-transition($duration: 0.3s ease) {
  transition: background-color $duration;
}
