// src/styles/portfolio/_main-content.scss
@use '../_variables.scss' as *;
@use '../_mixins.scss' as *;
@use '../_colors.scss' as *;


.portfolio-main-content {
  position: relative;
}
.portfolio-slide-content {
  width: 100%;
  height: 600px;
  position: relative;
  @media (max-width: 768px) {
    height: 500px;
  }

  @media (max-width: 480px) {
    height: 400px;
  }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.5); // Dark overlay
      padding-top: 50px;
    
      .text-container {
        color: white;
        text-align: center;
    
        h2 {
          font-size: 36px;
          font-weight: bold;
          @media (max-width: 768px) {
            font-size: 24px;
          }
        
          @media (max-width: 480px) {
            font-size: 20px;
          }
        }
    
        p {
          font-size: 18px;
          @media (max-width: 768px) {
            font-size: 16px;
          }
        
          @media (max-width: 480px) {
            font-size: 14px;
          }
        }
      }
    }
}




