// src/styles/home/_contact-section.scss
@use '../_colors.scss' as *;
@use '../_variables.scss' as *;
@use '../_mixins.scss'as *;
.contact-section {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    @media (max-width: 768px) {
        height: 200px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .contact-overlay {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 40%;
        background: $color-overlay;
        color: $color-white;
        padding: $padding-standard;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width: 768px) {
            padding: 20px;
            text-align: center;
        }

        h2 {
            font-family: $font-family-modern;
            font-weight: 900;
            font-size: 45px;
            color: $color-white;
            letter-spacing: 2px;
            margin-bottom: 20px;
            @media (max-width: 768px) {
                font-size: 20px;
            }
        }
        p {
            font-size: $font-size-small;
            margin-bottom: 30px;
            @media (max-width: 768px) {
                font-size: 10px;
            }
        }
        button {
        width: 120PX;
        background-color: transparent;
        color: $color-white;
        border: 2px solid $color-white;
        border-radius: 0;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s;
        @media (max-width: 768px) {
            font-size: 10px;
        }
            &:hover {
                background-color: $color-white;
                color: $color-black;
            }
        }
    }
}
