// src/styles/home/_services-process-section.scss
@use '../_colors.scss' as *;
@use '../_variables.scss' as *;
@use '../_mixins.scss'as *;
.services-process-section {
    display: flex;
    justify-content: space-between;
    padding: $padding-large $padding-standard;
    background-color: #1a1a1a;
    .service-title ,
    .process-title {
        flex: 1; /* 左側標題占據容器的 1 份 */
        color: #ffffff;
        font-size: 36px;
        font-weight: bold;
        margin-left:200px;
        @media (max-width: 820px) {
            margin-left: 0;
            font-size: 24px;
            text-align: center;
        }
        @media (max-width: 768px) {
            text-align: center;
            margin-left: 0;
            font-size: 20px;
            text-align: center;
        }
        @media (max-width: 480px) {
            text-align: center;
            margin-left: 0;
            font-size: 20px;
        }
    }
    .service-content ,
    .process-content{
        flex: 3; /* 右側內容占據容器的 3 份 */
        color: #ffffff;
        ul {
            list-style: none;

            @media (max-width: 768px) {
                padding: 0;
                margin: 0 auto;
            }
            @media (max-width: 480px) {
                padding: 0;
                margin: 0 auto;
            }
            li {
                font-size: 20px;
                padding: 10px 0;
                color: $color-white;
                font-weight: normal;
                @media (max-width: 820px) {
                    font-size: 16px;
                }
                @media (max-width: 768px) {
                    font-size: 16px;
                }
                @media (max-width: 480px) {
                    text-align: center;
                    margin-left: 0;
                    font-size: 16px;
                }
            }
        }
    }
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        .service-content,
        .process-content {
            margin-top: 20px;
            flex: none;
        }
    }


}



