@use '../_colors.scss' as *;
@use '../_variables.scss' as *;
@use '../_mixins.scss'as *;

.forgot-password-container {
    position: relative;
    max-width: 400px;
    margin: 200px auto;
    padding: 40px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;

    h2 {
        font-size: 20px;
        margin-bottom: 30px;
        color: #333;
        font-weight: 500;
    }

    .back-button {
        position: absolute;
        top: 30px;
        left: 16px;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        max-width: 40px;

        svg {
            width: 24px;
            height: 24px;
            fill: #ff5722;
        }

        &:hover {
            background-color: transparent;
        }
    }

    .form-group {
        margin-bottom: 20px;

        input {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 6px;
            font-size: 16px;
            box-sizing: border-box;
            transition: border-color 0.3s ease;
            margin-bottom: 20px;

            &:focus {
                border-color: #ff5722;
                outline: none;
            }
        }
    }

    button {
        width: 100%;
        padding: 12px;
        background-color: #ff5722;
        color: white;
        border: none;
        border-radius: 6px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #e64a19;
        }
    }

    // 響應式設計
    @media (max-width: 768px) {
        max-width: 300px; // 縮小容器寬度
        padding: 30px;

        h2 {
            font-size: 18px; // 縮小標題字體大小
        }

        .back-button {
            top: 20px;
            left: 10px;

        svg {
            width: 20px;
            height: 20px; // 縮小返回按鈕圖標
        }
        }

        .form-group input {
            font-size: 14px; // 縮小輸入框字體大小
            padding: 10px;
        }

        button {
            font-size: 14px; // 縮小按鈕字體大小
            padding: 10px;
        }
    }

    @media (max-width: 480px) {
        max-width: 260px; // 更小的螢幕縮小容器寬度
        padding: 20px;

        h2 {
            font-size: 16px; // 再次縮小標題字體大小
        }

        .back-button {
            top: 15px;
            left: 8px;

            svg {
                width: 18px;
                height: 18px; // 縮小返回按鈕圖標
            }
        }

        .form-group input {
            font-size: 12px; // 縮小輸入框字體大小
            padding: 8px;
        }

        button {
            font-size: 12px; // 縮小按鈕字體大小
            padding: 8px;
        }
    }
}
